{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
        {% if p.children.visible.count > 0 %}
            <li class="has-children {{ p.slug }} {{ current_page }}">
                <a href="{{ p.url }}">
                    {{ p.menu }}
                </a>
                <ul class="dropdown">
                    {{ _self.loop(p) }}
                </ul>
            </li>
        {% else %}
            <li class="{{ p.slug }} {{ current_page }}">
                <a href="{{ p.url }}">
                    {{ p.menu }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}

<ul class="navigation">
    {% if theme_config.dropdown.enabled %}
        {{ _self.loop(pages) }}
    {% else %}
        {% for page in pages.children.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
            <li class="{{ page.slug }} {{ current_page }}">
                <a href="{{ page.url }}">
                    {{ page.menu }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
</ul>

