<div class="box">
    <a href="{{ post.url }}" style="color: #4a4a4a;">
        <article class="media">

            <div class="media-content">
                <div class="content">
                    <strong class="title is-size-5">
                        {{ post.title }}
                    </strong>
                    {% if post.header.intro %}
                        {{ post.header.intro|truncate(120)|markdown }}
                    {% else %}
                        {{ post.summary(120) }}
                    {% endif %}
                    <small>
                        {{ post.header.publish_date|nicetime() }}
                    </small>
                </div>
            </div>

            {% if post.header.featured_image %}
                <div class="media-right">
                    <figure class="image">
                        {{ post.media[post.header.featured_image].cropZoom(160, 120).html('',post.title|escape)}}
                    </figure>
                </div>
            {% endif %}

        </article>
    </a>
</div>
<hr>
