{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-8 is-offset-2">
                
                <div class="columns">
                    <div class="column content">
                        {{ page.content }}
                    </div>
                </div>

                <hr>

                <div class="columns is-multiline">
                    {% for post in page.find('/blog').children.order('date', 'desc').slice(0, 3) %}
                    <div class="column is-12">
                        <strong class="title is-5">
                            <a href="{{ base_url }}{{ post.route }}">
                                {{ post.title }}
                            </a>
                        </strong>
                        <div class="summary">
                            {% if post.summary %}
                                {{ post.summary(320) }}
                            {% else %}
                                <em>This post has no summary!</em>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
