{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-7">

            <div class="content">
                <h1>
                    {{ page.title }}
                </h1>
                {{ page.content }}
            </div>

            <hr>

            {% for post in page.find('/blog').children.order('publish_date', 'desc').slice(0, 3) %}
            <div class="box">
                <a href="{{ post.url }}" style="color: #4a4a4a;">
                    <article class="media">

                        <div class="media-content" style="overflow: initial;">
                            <div class="content">
                                <strong class="title is-size-5">
                                    {{ post.title }}
                                </strong>
                                {% if post.header.intro %}
                                    {{ post.header.intro|truncate(120)|markdown }}
                                {% else %}
                                    {{ post.summary(120) }}
                                {% endif %}
                                <small>
                                    {{ post.header.publish_date|nicetime() }}
                                </small>
                            </div>
                        </div>

                        {% if post.header.featured_image %}
                            <div class="media-right">
                                <figure class="image">
                                    <img src="{{ post.url }}/{{ post.header.featured_image }}?cropResize=160,120" alt="{{ post.title }}">
                                </figure>
                            </div>
                        {% endif %}

                    </article>
                </a>
            </div>
            <hr>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}
