{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			{{ page.content }}

			<hr>

		</div>
	</div>

	{# Display example vue-component #}
	<example></example>

	<div class="row posts">

		{% for post in page.find('/blog').children.order('date', 'desc').slice(0, 3) %}

			<div class="col-sm-12 post npl npr">

				<div class="col-md-9 post-content">

					<h3 class="mtxs"><a href="{{ base_url }}{{ post.route }}">{{ post.title }}</a></h3>
					{% if post.summary %}
						<div class="summary">
							{{ post.summary(320) }}
						</div>
					{% else %}
						<div class="summary">
							<em>This post has no summary!</em>
						</div>
					{% endif %}

				</div>

				<div class="col-md-3">

					<a href="{{ base_url }}{{ post.route }}">
						{% if post.header.featured_image %}
							<img width="100%" src="{{ base_url }}/blog/{{ post.folder }}/{{ post.header.featured_image }}">
						{% else %}
							<img width="100%" src="https://unsplash.it/800/">
						{% endif %}
					</a>

				</div>

			</div>
			
		{% endfor %}

	</div>

{% endblock %}