{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			{{ page.content }}

			<hr>

		</div>
	</div>

			<div class="row">

				{% for post in page.find('/blog').children.order('date', 'desc').slice(0, 3) %}

					<div class="col-xs-12 mtxl">

						<div class="col-sm-2 paxs">
							<img width="100%" src="{{ base_url }}/blog/{{ post.folder }}/{{ post.header.featured_image }}">
						</div>

						<div class="col-sm-10">

							<a href="{{ post.route }}"><h3 class="mts">{{ post.title }}</h3></a>
							{% if post.summary %}
								{{ post.summary(400) }}<br />
							{% else %}
								<em>No summary available</em>
							{% endif %}

							{% for post_data in post.header.post_data %}
								<small>#{{ post_data }} </small>
							{% endfor %}

						</div>

					</div>
					
				{% endfor %}

			</div>

{% endblock %}