{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {{ page.content }}

            <hr>

        </div>
    </div>

    {# Display example vue-component #}
    <example></example>

    <div class="row">

        {% for post in page.find('/blog').children.order('date', 'desc').slice(0, 3) %}

            <div class="col-sm-12">

                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            <a href="{{ base_url }}{{ post.route }}">
                                {{ post.title }}
                            </a>
                        </h3>
                        <div class="summary">
                            {% if post.summary %}
                                {{ post.summary(320) }}
                            {% else %}
                                <em>This post has no summary!</em>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

        {% endfor %}

    </div>

{% endblock %}
