{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-7">

            <div class="content">
                <h1>
                    {{ page.title }}
                </h1>

                {% if page.header.intro %}
                    <div class="is-size-5">
                        {{ page.header.intro|markdown }}
                    </div>
                {% endif %}

                {% if page.header.featured_image %}
                    <figure class="image is-4by3" style="margin-left: 0; margin-right: 0;">
                        {{ page.media[page.header.featured_image].cropZoom(768, 576).html('',page.title|escape)}}
                    </figure>
                {% endif %}

                {{ page.content }}
            </div>

            {% if page.header.taxonomy.tag %}
                <div class="tags">
                    {% for tag in page.header.taxonomy.tag %}
                        <span class="tag">
                            {{ tag }}
                        </span>
                    {% endfor %}
                </div>
            {% endif %}

            <small class="is-italic is-size-7 has-text-grey">
                Published {{ page.header.publish_date|nicetime() }}
            </small>

        </div>
    </div>
</div>
{% endblock %}
